body{
    width:100%;
    background-color: #a3f38a;
  }
  .midsection{
    border: 1px solid #66f83a;
    padding: 20px;
    width: 50%;
    background-color: rgb(144, 255, 181);
  }
  body{
    text-align: center;
  }
  body .midsection{
    text-align: left;
  }
  .container{
    margin-left: 25%;
    margin-right: 50%;
  }
  .navbar-brand{
    color:rgb(45, 182, 105);
}
h5{
color:rgb(45, 182, 105);
}
  body a{
    color: #a3f38a;
  }
  .form-select {
    display: block;
    width: 30%;
    margin:2px;
    margin-left: 35%;
    margin-right: 35%;
  }
  .input-group{
    margin:2px;
    width: 100%;
   }
  .input-group .form-control, .input-group .form-select {
    position: relative;
    flex: 1 1 auto;
    margin-left: 35%;
    margin-right: 35%;
    min-width: 0;
  }
  .card-header{
    background-color:#a3f38a;
    color:#fff;
  }
  .card-header ul li{
    background-color:#a3f38a;
  }
  .card-header a{
    color:#fff
  }
  .footer-body{
    background-color:#a3f38a;
    color:#fff;
    }
  .footer-body .card-title{
    font-size: 2.00rem;
      text-decoration: none;
  }
  
  nav{
    background-color: #a3f38a;
  }
  nav a{
    color: #fff
    }
  .navbar-brand {
    font-size: 2.00rem;
    text-decoration: double;
  }
  nav li{
  
    background-color: #a3f38a;
    color: #fff;
  }
  nav li a{
    color: #fff
  }
button{
    margin-left:190px;
    margin-right:auto;
}
.form-floating>.form-control, .form-floating>.form-select{
    height: calc(3.5rem + 2px);
    padding: 1rem .75rem;

}
.btn-primary{
    color:#fff;
    background-color:rgb(37, 107, 57);
    border:rgb(42, 116, 75);
}